/App_Data
TemporaryGeneratedFile*.cs
/obj
/bin
*.suo
*.user
*.[Cc]ache
*[Rr]esharper*
packages
NuGet.exe
_[Ss]cripts
*.exe
*.dll
*.nupkg
*.ncrunchsolution
*.dot[Cc]over
*.log
*.Publish.xml
bin/
obj/
TestResults/
UpgradeLog.XML
_UpgradeReport_Files/
!*CommonReferences/*.dll
!/packages/*/lib/*.dll
!/packages/*/lib/*/*.dll
*.com
*.class
*.dll
*.exe
*.dll.config
*.cache
*.suo
.vs/DLSM/v15/Server/sqlite3/*.*