<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DLSM.Infrastructure.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <DLSM.Infrastructure.Properties.Settings>
            <setting name="DLSM_Infrastructure_MdmUserService_MdmUserServiceExport1_MdmUserServiceHttpService"
                serializeAs="String">
                <value>https://gservice.dlt.go.th:10443/EsvProcessWeb/sca/MdmUserService</value>
            </setting>
        </DLSM.Infrastructure.Properties.Settings>
    </applicationSettings>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
</configuration>