<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="ROOT_REPORT" value="D:\Work\Project\DLSM\Code\Programe Report\DLSM_CHANG\64bit\NReportManager\NReportManager\Report"/>
    <add key="ROOT_XML" value="D:\Work\Project\DLSM\Code\PathFile Report\Xml"/>
    <add key="ROOT_PDF" value="D:\Work\Project\DLSM\Code\PathFile Report\Pdf"/>
  </appSettings>
</configuration>