<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="ROOT_REPORT" value="D:\projects\driver-license-stock-management\Programe Report\DLSM_CHANG\64bit\NReportManager\NReportManager\Report"/>
    <add key="ROOT_XML" value="D:\projects\driver-license-stock-management\PathFile Report\Xml"/>
    <add key="ROOT_PDF" value="D:\projects\driver-license-stock-management\PathFile Report\Pdf"/>
  </appSettings>
</configuration>