<body>
    @{ 
        if (null != ViewBag.Msg)
        {
        <script type="text/javascript">
            alert("@ViewBag.Msg");
            window.close();
        </script>
        }
    }
</body>